name: Auto PR Feature to Main

on:
  push:
    branches:
      - 'feature/*'

permissions:
  contents: write
  pull-requests: write

jobs:
  terraform:
    name: 'Terraform Validation'
    runs-on: ubuntu-latest
    env:
      GOOGLE_CREDENTIALS: ${{ secrets.GCP_CREDENTIALS }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.0

      - name: Terraform Init
        run: terraform init
        working-directory: ./terraform

      - name: Terraform Validate
        run: terraform validate
        working-directory: ./terraform

      - name: Terraform Import Firestore
        run: |
          terraform import -input=false -no-color module.database.google_firestore_database.database projects/${{ secrets.GCP_PROJECT_ID }}/databases/\(default\) || echo "Database already in state"
        working-directory: ./terraform
        continue-on-error: true

      - name: Create tfvars file
        run: |
          echo 'project_id = "${{ secrets.GCP_PROJECT_ID }}"' > terraform/terraform.tfvars

      - name: Terraform Plan
        run: terraform plan -no-color
        working-directory: ./terraform

  create-pull-request-main:
    name: 'Create Pull Request'
    needs: terraform-validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create PR to Main
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Create PR if it not exists
          PR_EXISTS=$(gh pr list --head "${{ github.ref_name }}" --base main --json number -q '.[0].number')
          
          if [ -z "$PR_EXISTS" ]; then
            gh pr create \
              --head "${{ github.ref_name }}" \
              --base main \
              --title "Automated PR ${{ github.ref_name }} into Main" \
              --body ""
          else
            echo "PR already exists for this branch. Skipping."
          fi