name: Terraform Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest
    env:
      GOOGLE_CREDENTIALS: ${{ secrets.GCP_CREDENTIALS }}
      TF_VAR_project_id: ${{ secrets.GCP_PROJECT_ID }}
      TF_VAR_region: "us-east1"

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: terraform init
        working-directory: ./terraform

      - name: Terraform Import Firestore
        run: |
          terraform import -input=false -no-color module.database.google_firestore_database.database projects/${{ secrets.GCP_PROJECT_ID }}/databases/\(default\) || echo "Database already in state"
        working-directory: ./terraform
        continue-on-error: true

      - name: Terraform Apply
        run: terraform apply -auto-approve
        working-directory: ./terraform